  /* css app.js*/
  @import url('https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.11.3/main.min.css');
  .Logo a{
    display: block;                 /* Làm cho các thẻ <a> trở thành các khối (block-level) */
    padding: 0px 20px;             /* Thêm khoảng cách bên trong (padding) cho thẻ <a> */
    margin: 5px;                    /* Thêm khoảng cách giữa các box */
    text-decoration: none;          /* Loại bỏ gạch dưới mặc định của thẻ <a> */
    font-weight: bold;              /* Làm đậm chữ */
    text-align: center;             /* Căn giữa chữ trong box */
    transition: background-color 0.3s, transform 0.3s; /* Hiệu ứng chuyển màu nền và di chuyển */
    float: left;
    cursor: default;
  }
  
  .menu{
    padding: 10px 0px;
    float: left;
  }
  
  .menu a{
    /* Chỉnh sửa thẻ <a> thành các box */
     display: block;                 /* Làm cho các thẻ <a> trở thành các khối (block-level) */
     padding: 10px 13px;             /* Thêm khoảng cách bên trong (padding) cho thẻ <a> */
     margin: 5px;                   /* Thêm khoảng cách giữa các box */
     border-radius: 5px;             /* Bo tròn các góc của box */
     color: black;
     text-decoration: none;          /* Loại bỏ gạch dưới mặc định của thẻ <a> */
     font-weight: bold;              /* Làm đậm chữ */
     text-align: center;             /* Căn giữa chữ trong box */
     transition: background-color 0.3s, transform 0.3s; /* Hiệu ứng chuyển màu nền và di chuyển */
     width: 108px;
  }
  
  /* Thêm hiệu ứng hover */
  .menu a:hover {
     background-color: #FFCCFF;      /* Màu nền khi hover */
     color:#663399;
     transform: scale(1.05);          /* Phóng to nhẹ khi hover */
  }
  
  .menu-support {
    position: relative;
    display: inline-block;
  }
  
  .support {
    display: none;
    position: absolute;
    color: #663399;
    width: 100%;
    margin: 10px 0;
  }
  
  .menu-support:hover .support {
    display: block;
  }
  
  .login{
    padding: 10px 0px;
    float: left;
  }
  
  .login a{
    /* Chỉnh sửa thẻ <a> thành các box */
     display: block;                 /* Làm cho các thẻ <a> trở thành các khối (block-level) */
     padding: 10px 13px;             /* Thêm khoảng cách bên trong (padding) cho thẻ <a> */
     margin: 5px;                   /* Thêm khoảng cách giữa các box */
     border-radius: 5px;             /* Bo tròn các góc của box */
     color: #663399;
     background-color: #CCCCFF;
     text-decoration: none;          /* Loại bỏ gạch dưới mặc định của thẻ <a> */
     font-weight: bold;              /* Làm đậm chữ */
     text-align: center;             /* Căn giữa chữ trong box */
     transition: background-color 0.3s, transform 0.3s; /* Hiệu ứng chuyển màu nền và di chuyển */
     width: 110px;
  }
  
  /* Thêm hiệu ứng hover */
  .login a:hover {
     background-color: #FFCCFF;      /* Màu nền khi hover */
     transform: scale(1.05);          /* Phóng to nhẹ khi hover */
  }
  
  .logout{
    padding: 10px 0px;
    float: left;
  }
  
  .logout a{
    /* Chỉnh sửa thẻ <a> thành các box */
     display: block;                 /* Làm cho các thẻ <a> trở thành các khối (block-level) */
     padding: 10px 13px;             /* Thêm khoảng cách bên trong (padding) cho thẻ <a> */
     margin: 5px;                   /* Thêm khoảng cách giữa các box */
     border-radius: 5px;             /* Bo tròn các góc của box */
     color: white;
     background-color: #663399;
     text-decoration: none;          /* Loại bỏ gạch dưới mặc định của thẻ <a> */
     font-weight: bold;              /* Làm đậm chữ */
     text-align: center;             /* Căn giữa chữ trong box */
     transition: background-color 0.3s, transform 0.3s; /* Hiệu ứng chuyển màu nền và di chuyển */
     width: 110px;
  }
  
  /* Thêm hiệu ứng hover */
  .logout a:hover {
     background-color: #993399;      /* Màu nền khi hover */
     transform: scale(1.05);          /* Phóng to nhẹ khi hover */
  }
  
  .banner {
      position: relative; /* Đặt container ở vị trí tương đối để con của nó có thể đè lên */
      max-width: 1240px; /* Đặt kích thước tối đa cho banner */
      display: block;
      margin: 0 auto; /* Canh giữa banner */
  }
  
  .intro {
    position: absolute; /* Vị trí tuyệt đối để đè lên background-div */
    top: 80px; /* Điều chỉnh khoảng cách từ trên xuống */
    left: 246px; /* Điều chỉnh khoảng cách từ trái sang */
    width: 750px; /* Đặt chiều rộng phù hợp cho div đè lên */
    height: 700px; /* Đặt chiều cao phù hợp cho div đè lên */
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Canh giữa nội dung bên trong div */
  }
  
  .color1{
    color: black;
    font-size: 36px;
  }
  
  .color2{
    font-size: 76px;
    color: #993399;
  }
  
  .color3{
    font-size: 18px;
  }
  
  .community {
    float: left;
    width: 200px;
    background-color:	#7D26CD;
    padding: 5px 10px;
    margin: 25px;
    font-size: 20px;
    border-radius: 10px; 
    color: white;
    border: none;
    cursor: pointer; /*Biến con trỏ thành bàn tay*/
    transition: all 0.4s ease;
    box-shadow: 0 7px 0px #551A8B;
  }
  
  .community:hover {
    box-shadow: 0 0px 0px;
    transform: translateY(4px);
  }
  
  .community:active {
    transform: translateY(4px);
  }
  
  .professional {
    float: left;
    width: 200px;
    background-color:	#DDDDDD;
    padding: 5px 10px;
    margin: 25px;
    font-size: 20px;
    border-radius: 10px; 
    color: white;
    border: none;
    cursor: pointer; /*Biến con trỏ thành bàn tay*/
    transition: all 0.4s ease;
    box-shadow: 0 7px 0px #CCCCCC;
  }
  
  .professional:hover {
    box-shadow: 0 0px 0px;
    transform: translateY(4px);
  }
  
  .professional:active {
    transform: translateY(4px);
  }
  
  .clear {
    clear: both;
  }
  
  .footer{
    width: 100%;
  }
  
  .footer-content{
    width: 250px;
    float: left;
  }
  
  .wrapper-login, .wrapper-logout {
    display: flex;
    padding-left: 100px; /* Khoảng cách 100px bên trái */
    justify-content: center;
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 100vh; /* Chiều cao 100% viewport height */
    background: linear-gradient(135deg, white 50%, purple 50%)
  }
  
  .Form-box-login, .Form-box-logout {
    width: 400px; /* Đặt chiều rộng cho form */
    padding: 20px; /* Khoảng đệm */
    background-color: #fff; /* Màu nền */
    box-shadow: 0 0 15px rgba(147, 112, 219, 0.7), /* tím */
                0 0 25px rgba(255, 105, 180, 0.5); /* hồng */
    border-radius: 10px; /* Bo góc */
  }
  
  .Login-title, .Logout-title {
    text-align: center; /* Căn giữa tiêu đề */
  }
  
  .User, .PassWord, .Email {
    margin: 10px 0;
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử theo cột */
    align-items: center; /* Căn giữa các phần tử */
  }
  
  .Login-button, .Logout-button  {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .Register-link, .Login-link {
    color: purple;
    text-decoration: none;
  }
  
  .Register-link:hover, .Login-link:hover, .admin-login:hover {
    text-decoration: underline;
  }
  
  .admin-login{
    float:right;
    text-decoration: none;
  }
  .info-text-log{
    font-size: 30px;
    padding: 100px; /* Tạo khoảng đệm bên trong */
  }
  
  .Welcom-back {
    color: white; 
  }
  
  .Welcom-back-content {
    color: white;
  }
  
  .title-user {
    padding: 1px 50px;
    background-color: #FFCCFF;
    height: 50px;
  }
  
  .menu-left-user {
    display: block;                 /* Làm cho các thẻ <a> trở thành các khối (block-level) */
    width: 115px;
    margin: 5px;                    /* Thêm khoảng cách giữa các box */
    text-decoration: none;          /* Loại bỏ gạch dưới mặc định của thẻ <a> */ 
    text-align: center;             /* Căn giữa chữ trong box */
    transition: background-color 0.3s, transform 0.3s; /* Hiệu ứng chuyển màu nền và di chuyển */
    float: left;
  }
  
  .menu-left-user a {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-decoration: none;  
    color: #9900CC;
    margin: 25px 25px;
    float: left;
  }
  
  .icon-user {
    vertical-align: middle; 
    width: 30px;
    height: 30px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    padding: 7px;
  }
  
  .icon-user:hover {
    background-color: #CCCCFF;     
    transform: scale(1.05);         
  }
  
  .note-icon {
    font-size: 13px;
    display: inline; 
    margin: 0; 
    vertical-align: middle; 
  }
  
  .content-main-user{ 
    background-color: #EEEEEE; 
    width: 90%; 
    height: 100%; 
    margin-top: 3px; 
    border-radius: 5px; 
    float: left; 
  } 
    
  .content-main-user a{ 
    display: flex; /* Làm cho các thẻ <a> trở thành các khối (block-level) */ 
    justify-content: center; /* Căn giữa theo chiều ngang */ 
    align-items: center; 
    padding: 0px 20px; /* Thêm khoảng cách bên trong (padding) cho thẻ <a> */ 
    margin: 5px 15px; /* Thêm khoảng cách giữa các box */ 
    height: 50px; 
    width: 100px; 
    text-decoration: none; /* Loại bỏ gạch dưới mặc định của thẻ <a> */ 
    font-weight: bold; 
    border-radius: 5px; 
    transition: background-color 0.3s, transform 0.3s; /* Hiệu ứng chuyển màu nền và di chuyển */ 
    float: right; 
  } 
  
  .content-main-user a:hover { 
    background-color: #c39bd3; 
  } 
  
  .Intro-ZeziPlusPro { 
    display: flex; 
    flex-direction: column; /* Đặt các phần tử con theo chiều dọc */ 
    align-items: center; /* Căn giữa các phần tử con theo chiều ngang */ 
    justify-content: center; /* Căn giữa các phần tử con theo chiều dọc */ 
    margin: 40px auto; 
    font-weight: bold; /* Làm đậm chữ */ 
    font-size: 30px; 
    background: linear-gradient(to right, #8e44ad, #9b59b6, #af7ac5, #c39bd3, #d2b4de); 
    width: 95%; 
    height: 100%; 
    border-radius: 10px; 
    color: #ffffff; 
    text-align: center; 
  }
  
  .Intro-ZeziPlusPro a { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-decoration: none; 
    text-align: center; 
    background-color: #CCCCFF; 
    height: 35px; 
    width: 250px; 
    margin: 20px auto; 
    font-size: 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s, transform 0.3s; 
  } 
  
  .Intro-ZeziPlusPro a:hover { 
    background-color: white; 
  }
  
  .intro-project-user{
    margin: 5px 30px;
    font-weight: bold;
    font-size: 25px;
    float: left;
  }
  
  .list-project-user{
    margin: 5px 30px;
    float: right;
    font-weight: bold;
    font-size: 35px;
    transition: background-color 0.3s, transform 0.3s; 
  }
  
  .list-project-user:hover {
    color: #9933FF; 
  }
  
  .project-user{
    width: 100%;
    clear: both;
    display: flex; 
    align-items: center; /* Căn giữa các phần tử con theo chiều ngang */ 
    justify-content: center;
  }
  
  .project-user div{
    display: flex; 
    align-items: center; /* Căn giữa các phần tử con theo chiều ngang */ 
    justify-content: center;
    width: 30%;
    height: 200px;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 10px;
    float: left;
  }
  
  .project-user div a:hover {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  
  .wrapper-admin{
    position: relative;
    width: 100%;
    background-color: #EEEEEE;
  }
  
  .bars-admin{
    position: fixed;
    z-index: 20;
    left: 10px;
    top: 80px;
    padding: 5px;
    background-color: #EEEEEE;
    width: 30px;
    height: 30px;
  }
  
  .bars-admin.active {
    left: 190px; /* Vị trí của biểu tượng khi menu hiện ra */
  }
  
  .bars-admin:hover {
    color: #9933FF; /* Màu biểu tượng khi nhấn */
  }
  
  .left-menu-user {
    position: fixed;
    z-index: 10;
    display: none; /* Ẩn menu ban đầu */
    top: 10px;
    left: 0;
    width: 190px; /* Chiều rộng menu */
    height: auto;
    background-color: #EEEEEE; /* Màu nền menu */
    color: black;
  
  }
  
  .left-menu-user.active {
    display: block; /* Hiện menu khi có lớp active */
  }
  
  .left-menu-user div{
    display: flex;
    height: 50px;
    transition: background-color 0.3s ease;
    align-items: center;
    padding: 5px;
  }
  
  .left-menu-user div:hover{
    background-color: #7D26CD;
  }
  
  .header-admin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    box-shadow: 0 4px 6px #DDDDDD;
    float: left;
  }
  
  .header-top-admin {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #663399;
    margin-right: 50px;
    float: right;
  }
  
  .header-top-admin p {
    padding: 0px 5px;
  }
  
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  
  .search-input {
    padding: 10px 40px 10px 10px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    width: 200px;
  }
  
  .search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    color: #333;
  }
  
  .header-top-admin {
    display: flex;
    align-items: center;
    margin-left: 20px;
    text-decoration: none;
    color: #663399;
  }
  
  .header-top-admin p {
    margin-left: 5px;
    margin: 0;
  }
  
  .about-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 99%;
  }
  
  .information {
    width:59.5%;
    height: 240px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    float:left;
  }
  
  .information p {
    color: #663399;
    font-size: 20px;
    margin: 5px 15px;
  }
  
  .news {
    width:37.5%;
    text-align: center;
  }
  
  
  .notification{
    background-color: white;
    height: 90px;
    border-radius: 5px;
    margin: 0 5px;
    width: 100%;
  }
  
  .Schedule{
    background-color: white;
    width: 100%;
    margin: 5px;
  }
  
  .study, .exam{
    background-color: white;
    border-radius: 5px;
    height: 140px;
    width: 47.8%;
    margin: 5px;
    float: left;
  }
  
  .menu-middle-admin {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .menu-middle-admin > div {
    flex: 1 0 100px; /* Điều chỉnh giá trị 100px để có kích thước mong muốn */
    margin: 10px; /* Điều chỉnh khoảng cách giữa các div */
    background-color: white; /* Tùy chọn: thêm màu nền để dễ nhìn thấy các div */
    border-radius: 5px;
    height: 90px;
    text-align: center;
    padding: 10px;
  }
  
  .achievement{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .achievement > div {
    flex: 1 0 100px; /* Điều chỉnh giá trị 100px để có kích thước mong muốn */
    margin: 10px; /* Điều chỉnh khoảng cách giữa các div */
    background-color: white; /* Tùy chọn: thêm màu nền để dễ nhìn thấy các div */
    border-radius: 5px;
    height: 200px;
    text-align: center;
    padding: 10px;
  }
  
  .wrappper-project-user{
    width: 98%;
    background-color: white;
    border: 2px solid #9900CC; 
    border-radius: 10px;
    margin: 10px auto;
  }
  
  .header-project-user div{
    float:left;
    text-align: center;
    margin: 3px;
  }
  
  .div1{
    width: 50%;
  }
  
  .div2, .div3, .div4, .div5, .div6{
    width: 9%;
    border-radius: 5px;
  }
  
  .div3:hover, .div4:hover, .div5:hover, .div6:hover{
    background-color: #7D26CD;
  }
  
  .icon-div2{
    display: inline-block;
    transform: rotate(180deg);
  }
  
  .icon-div2:hover, .icon-div-2:hover{
    color: #7D26CD;
  }
  
  .main-project-user {
    margin: 5px 0;
  }
  
  .main-project-user div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    width: 150px; /* Bạn có thể tùy chỉnh kích thước của ô */
    height: 150px; /* Bạn có thể tùy chỉnh kích thước của ô */
    border: 1px solid #000; /* Bạn có thể tùy chỉnh kiểu viền */
  }
  
  .Create-project{
    float: left;
    margin: 5px;
    width: 150px;
    background-color: #9900CC;
    text-decoration: none;
  }
  
  .Create-project a{
    text-decoration: none;
  }
  
  .fuction.active{
    display: block;
  }
  
  .content {
    margin: 40px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 88%;
  }
  
  /* Style for form-group */
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Style for labels */
  label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
  }
  
  /* Style for inputs */
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Style for input focus */
  input:focus {
    border-color: #0056b3;
    outline: none;
  }
  
  /* Style for the submit button */
  .Create-button {
    width: 100%;
    padding: 12px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Hover effect for the button */
  .Create-button:hover {
    background-color: #004085;
  }
  